    <div class="page-slo" > <img src="storage/img/page-.svg" alt="page" class="page">
        <a href="Index.html"><link rel="stylesheet" href="storage/img/perfilwhite.svg" class="perfilwhite"></a>
        <img src="storage/img/camp.svg" alt="camp" class="camp">
        <a href="views/Presentatio.html"><img src="storage/img/cubikselect.svg" alt="cubik" class="cubik"></a>
        <a href="views/Balance.html"><img src="storage/img/book.svg" alt="" class="book"></a>
        <img src="storage/img/house.svg" alt="house" class="house">
        <img src="storage/img/Ellipse 2.svg" alt="ellips" class="eclip">

    </div>