<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Balance.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <img src="storage/img/Group.svg" alt="icon5" class="icon5">
        <h2 class="NameIcontwo">INVETO</h2>
        <img src="storage/img/Groupss.svg" alt="ico6" class="icon6">
    </div>
    
    <div class="Font">
        <img src="storage/img/SecondFont.svg" alt="SecondFont" class="SecondFont">
        <img src="storage/img/Eclipone (2).svg" alt="Ecliponetwo" class="Ecliponetwo">
        <img src="storage/img/Eclipone (3).svg" alt="Ecliponethree" class="Ecliponethree">
        <img src="storage/img/Eclipone (4).svg" alt="Ecliponefour" class="Ecliponefour">
        <img src="storage/img/Eclipone (5).svg" alt="Ecliponefive" class="Ecliponefive">
        <img src="storage/img/Eclipone (6).svg" alt="Ecliponesix" class="Ecliponesix">
        <img src="storage/img/Eclipone (7).svg" alt="Ecliponeseven" class="Ecliponeseven">
        <img src="storage/img/Eclipsegreen.svg" alt="Eclipsegreen" class="Eclipsegreen">
    </div>
    
    <h1 class="Moneyca">Total Balance $214.417
    </h1>
    <img src="storage/img/Money.svg" alt="Moneya" class="Moneya">

    <div class="icones">
        <img src="storage/img/icons.svg" alt="iconsel" class="iconsel">
        </div>
    <div>
        <img src="storage/img/$174.svg" alt="">
        <img src="storage/img/$451.svg" alt="">
        <img src="storage/img/eclipblack.svg" alt="">
        <img src="storage/img/eclipgreen.svg" alt="">
        <img src="storage/img/Vectorblack.svg" alt="">
        <img src="storage/img/Vectorgreen.svg" alt="">
    </div>
    
</body>
</html>