<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Balance.css">
    <title>Document</title>
</head>

<body>
    <style>
        body {
        background-color: #6D8EB0;
        background-image: url('storage/img/font.svg');
        background-repeat: no-repeat;
        background-size: cover; 
        background-position: center center; 
        margin: 0; 
        padding: 0; 
    }
    </style>
    <div class="container">
        <img src="storage/img/ocm.png" alt="icon5" class="icon5">
        <h2 class="NameIcontwo">MAGICAL</h2>
        <img src="storage/img/Groupss.svg" alt="ico6" class="icon6">
    </div>
    
    <div class="Font">
        <img src="storage/img/SecondFont.svg" alt="SecondFont" class="SecondFont">
        <img src="storage/img/Eclipone (2).svg" alt="Ecliponetwo" class="Ecliponetwo">
        <img src="storage/img/Eclipone (3).svg" alt="Ecliponethree" class="Ecliponethree">
        <img src="storage/img/Eclipone (4).svg" alt="Ecliponefour" class="Ecliponefour">
        <img src="storage/img/Eclipone (5).svg" alt="Ecliponefive" class="Ecliponefive">
        <img src="storage/img/Eclipone (6).svg" alt="Ecliponesix" class="Ecliponesix">
        <img src="storage/img/Eclipone (7).svg" alt="Ecliponeseven" class="Ecliponeseven">
        <img src="storage/img/Eclipsegreen.svg" alt="Eclipsegreen" class="Eclipsegreen">
    </div>
    
    <h1 class="Moneyca">Total Balance $214.417
    </h1>
    <img src="storage/img/Money.svg" alt="Moneya" class="Moneya">

    <div class="icones">
        <img src="storage/img/icons.svg" alt="iconsel" class="iconsel">
        </div>
    <div>
        <img src="storage/img/$174.svg" alt="nuone" class="nuone">
        <img src="storage/img/$451.svg" alt="nutwo" class="nutwo">
        <img src="storage/img/eclipblack.svg" alt="eclipblack" class="eclipblack">
        <img src="storage/img/eclipgreen.svg" alt="eclipgreen" class="eclipgreen">
        <img src="storage/img/Vectorgreen.svg" alt="Vectorgreen" class="Vectorgreen">
    <div>
        <img src="storage/img/Vectorblack.svg" alt="Vectorblack" class="Vectorblack">
        </div>
    <div>
        <img src="storage/img/numerstop.svg" alt="numerstop" class="numerstop">
    </div>
    <div>
        <img src="storage/img/notice.svg" alt="notice" class="notice">
    </div>
    <div class="slowaca"></div> <img src="storage/img/slow.svg" alt="slowen" class="slowen">
        
        <a href="Presentatio.html"><img src="storage/img/cubik.svg" alt="prube" class="prube"></a>
        <img src="storage/img/Ellipse 2.svg" alt="eclipse" class="eclipse">
        <img src="storage/img/perfilwhit.svg" alt="perfilwhit" class="perfilwhit">
        <a href="Index.html"><img src="storage/img/Invisible.png" alt="prub" class="prub"></a>
        <img src="storage/img/house.svg" alt="housenew" class="housenew">
        <img src="storage/img/iconbook.svg" alt="bookes" class="bookes">
        <img src="storage/img/camp.svg" alt="campan" class="campan">
    </div>
    
</body>
</html>