<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="BBVA.CSS">
    <title>BBVA</title>
    <style>
        body {
        font-family: Arial, sans-serif;
        background-color: #f3f3f3;
        margin: 0;
        padding: 0;
    }
    </style>
    
</head>
<body>
    <ul>
        <li> 
            <p>Return through <a href="Presentatio.html">this 
                link </a></p >
    
        </li>
    </ul>
    <div class="container">
        <h1 class="title">Welcome Cristian</h1>
        <img src="storage/img/BBVA.png" alt="Credit Card" class="card-image">
        <p class="message">Remember that you can take out the credit card whenever you want, or take out the virtual one</p>
        <p>Don't have one yet?
            Request it at the following link:
        <a href="https://www.bbva.com.co/personas/productos/tarjetas/credito/herramientas/solicitar/#!/user-validation"><img src="storage/img/Solicitalo-aquí.png" alt="SOL" class="SOL"></a>
    </div>
    
</body>
</html>
