<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Mastercar.css">
    <title>MaterCard</title>
    <style>
        body {
        font-family: Arial, sans-serif;
        background-color: #f3f3f3;
        margin: 0;
        padding: 0;
    }
    </style>
    
</head>
<body>
    <div class="container">
        <h1 class="title">Welcome Cristian</h1>
        <img src="storage/img/Matercard.png" alt="Credit Card" class="card-image">
        <p class="message">Remember that you can take out the credit card whenever you want, or take out the virtual one</p>
    </div>
</body>
</html>
