@import url(css/style.css);

.container {
    display: flex;
    justify-content: space-between;
}
.icon3 {
    margin-right: 20px; 
    width: 20px; 
    height: auto;
    
}
.NameIcon2 {
    margin-right: 250px;
    color: black;
    font-size: 15px;
}

.iconfour {
    margin-right: 10px;
    width: 14px;
    height: auto;
}



.invets {
    margin-right: 250px;
    color: black;
    font-size: 20px;

}

.nav_invest {
    margin-block: center;
}
.invetsing {
    margin-left: -20px;
    width: 400px;
}

.eclip {
    margin-top: -270px;
    margin-left: -30px;
    position: relative;
    width: 150px;
}
.name {
    margin-top: -120px;
    margin-left: 180px;
    margin-right: 250px;
    color: gray ;
    font-size: 8px;
}
.read {
    margin-left: 200px;
    margin-top: 10px;
    width: 90px;
}

.Avv {
    
    width: 300px;
    
   
}
.Mast {
    width: 400px;
}
.Bog {
    width: 300px;
}
.BBVA {
    width: 300px;
}


.slowa {
    position: relative;
}

.eclipse {
    margin-left: 190px;
    margin-top: 310px;
    position: absolute;
    width: 10px;
 

}

.camp {
    margin-left: 270px;
    margin-top: 540px;
    position: fixed;
    width: 40px;

}

.slow {
    margin-left: 0px;
    margin-top: 295px;
    position: fixed;
    width: 390px;
}

.perfila {
    margin-left: 180px;
    margin-top: 250px;
    position: fixed;
    width: 30px;
}
.cubikselect {
    margin-left: 180px;
    margin-top: 250px;
    position: fixed;
    width: 30px;

}
.perfilwhit {
    margin-left: 330px;
    margin-top: 270px;
    position: fixed;
    width: 40px;
}
.bookes {
    margin-left: 90px;
    margin-top: 270px;
    position: fixed;
    width: 40px;
   
}
.prub {
    margin-left: -50px;
    margin-top: 120px;
    width: 50px;
    position: absolute;
}
.prube {
    margin-left: -280px;
    margin-top: 115px;
    width: 40px;
    position: absolute;
}
.housenew {
    margin-left: 10px;
    margin-top: 270px;
    position: fixed;
    width: 40px;
}

.campan {
    margin-left: 255px;
    margin-top: 270px;
    position: fixed;
    width: 40px;

}