<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Presentation.css">
    <title>Document</title>

</head>
<body>
    <div class="container">
        <img src="storage/img/icon3.svg" alt="icon3" class="icon3">
        <h2 class="NameIcon2">INVETO</h2>
        <img src="storage/img/icon4.svg" alt="iconfour" class="iconfour">
    </div>
        <h1 class="invest">Investing Tips</h1>
    <div class="nav_invest" >
        <img src="storage/img/invets.svg" alt="invetsing" class="invetsing">
    
        <h1 class="name">by: Cristian Manga</h1>
        <a href="ETF.html"><img src="storage/img/read.svg" alt="read" class="read"></a>

    </div>
    <h1 class="card">My cards (4)</h1>
    <div>card</div>



</body>
</html>