<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Presentation.css">
    <title>Document</title>

</head>
<body>
    <div class="container">
        <img src="storage/img/icon3.svg" alt="icon3" class="icon3">
        <h2 class="NameIcon2">INVETO</h2>
        <img src="storage/img/icon4.svg" alt="iconfour" class="iconfour">
    </div>


    <div class="page-slo" > <img src="storage/img/page-.svg" alt="page" class="page">
        <a href="Index.html"><link rel="stylesheet" href="storage/img/perfilwhite.svg" class="perfilwhite"></a>
        <img src="storage/img/camp.svg" alt="camp" class="camp">
        <a href="views/Presentatio.html"><img src="storage/img/cubikselect.svg" alt="cubik" class="cubik"></a>
        <a href="views/Balance.html"><img src="storage/img/book.svg" alt="" class="book"></a>
        <img src="storage/img/house.svg" alt="house" class="house">
        <img src="storage/img/Ellipse 2.svg" alt="ellips" class="eclip">
    </div>
</body>
</html>