<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Presentation.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
    <style> 
    .card-container {
        overflow-x: auto; 
        white-space: nowrap; 
        margin-bottom: 20px; 
    }

    .card {
        display: inline-block; 
        position: relative;
        margin-top: -6px;
        margin-right: 20px; 
        min-width: 300px; 
        border: 1px solid #ccc; 
        border-radius: 5px; 
    }</style>

</head>
<body>
    <div class="container">
        <img src="storage/img/icon3.svg" alt="icon3" class="icon3">
        <h2 class="NameIcon2">INVETO</h2>
        <img src="storage/img/icon4.svg" alt="iconfour" class="iconfour">
    </div>
        <h1 class="invest">Investing Tips</h1>
    <div class="nav_invest" >
        <img src="storage/img/invets.svg" alt="invetsing" class="invetsing">
    
        <h1 class="name">by: Cristian Manga</h1>
        <a href="ETF.html"><img src="storage/img/read.svg" alt="read" class="read"></a>
        

    </div>
    <h1 class="">My cards (4)</h1>
    <div class="container">
        
        <div class="card-container">
           
            <div class="card">
                <a href="Avevillas.html"><img src="storage/img/AvVillas.png" alt="Avv" class="Avv"></a>
            </div>
            <div class="card">
                <a href="Mastercard.html"><img src="storage/img/Matercard.png" alt="Mast" class="Mast"></a>
            </div>
            <div class="card">
             <a href="Bogota.html"> <img src="storage/img/Bogota.png" alt="Bog" class="Bog"></a>
             </div>
             <div class="card">
                <a href="BBVA.html"><img src="storage/img/BBVA.png" alt="BBVA" class="BBVA"></a>
             </div>
           
        </div>
        <div class="slowa"></div> <img src="storage/img/slow.svg" alt="slow" class="slow">
            <img src="storage/img/cubikselect.svg" alt="cubikselect" class="cubikselect">
            <img src="storage/img/Ellipse 2.svg" alt="eclipse" class="eclipse">
            <img src="storage/img/perfilwhit.svg" alt="perfilwhit" class="perfilwhit">
            <a href="Index.html"><img src="storage/img/Invisible.png" alt="prub" class="prub"></a>
            <img src="storage/img/house.svg" alt="housenew" class="housenew">
            <img src="storage/img/book.svg" alt="bookes" class="bookes">
            <img src="storage/img/camp.svg" alt="campan" class="campan">


</body>
</html>